<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Sample Model Component" class="cq-placeholder"></p>

<h2> Sample Model Component </h2>
<sly data-sly-use.model="com.adobe.aem.guides.core.models.SampleModel">
	<h3 data-sly-test="${model.text}"> ${model.text} </h3>
</sly>
