<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Header" class="cq-placeholder"></p>

<!--Calling Clientlibs-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet">
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='training.clientlib-newBiz'}" />

<sly data-sly-use.model="com.adobe.aem.guides.core.models.HeaderModel">
   <header id="header" class="fixed-top">
      <div class="container">
         <div class="logo float-left">
            <a href="#intro" class="scrollto"><img src="${properties.logo}" alt="" class="img-fluid"></a>
         </div>
         <nav class="main-nav float-right d-none d-lg-block">
            <ul data-sly-list.item="${model.links}">
               <li class="${itemList.first ? 'active' : ''}">
                  <a href="${item.link}">${item.text}</a>
               </li>
            </ul>
         </nav>
      </div>
   </header>
</sly>