<p data-sly-test="${properties.text}">Text property: ${properties.text}</p>

<pre data-sly-use.hello="com.adobe.aem.guides.core.models.HelloWorldModel">
    HelloWorldModel says:
    ${hello.message}
</pre>
